<%# <div class="card text-center mb-3" style='background-color: lightgray'>
  <div class="card-body">
    <h1 class="card-title">Four Seasons Excavating</h1>
    <h3 class="card-title">Call Today!
        <small class="text-body-secondary">208-661-6715</small>
    </h3>
    <h4>Serving Kootenai County and surrounding areas for over 20 years!</h4>
  </div>
</div> %>

<div class='landing-content'>
    <%= image_tag ('gallery/grading3.jpeg'), class:'landing-img' %>
    <div class='landing-text'>
    <h3>Four Seasons Excavating</h3>
    <h4>Call Today! 208-661-6715</h4>
    <h5>Serving Kootenai County and surrounding areas for over 20 years!</h5>
    </div>
</div>


<div class='content-header'>
    <h3>Services</h3>
    <div class='underline'></div>
</div>

<div class='card-container'>
<div class="card">
  <div class="content-header">
    Excavating
  </div>
  <div class='underline'></div>
  <div class="card-body">
    <%= image_tag 'gallery/grading1.jpeg', class:'card-img' %>
  <p class='card-text'>From land prep to foundation, we do it all.</p>
  </div>
</div>
<div class="card">
  <div class="content-header">
    Grading
  </div>
  <div class='underline'></div>
  <div class="card-body">
    <%= image_tag 'gallery/grading2.jpeg', class:'card-img' %>
    <p class='card-text'>Laser grading to ensure perfect work.</p>
  </div>
</div>
<div class="card">
  <div class="content-header">
    Landscape/Hardscape
  </div>
  <div class='underline'></div>
  <div class="card-body">
    <%= image_tag 'hardscape1.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="content-header">
    Sprinklers
  </div>
  <div class='underline'></div>
  <div class="card-body">
    <%= image_tag 'sprinkler.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="content-header">
    Hydroseed
  </div>
  <div class='underline'></div>
  <div class="card-body">
    <%= image_tag 'hydroseed.jpeg', class:'card-img' %>
  </div>
  </div>
  <div class="card">
  <div class="content-header">
    Snow Removal
  </div>
  <div class='underline'></div>
  <div class="card-body">
    <%= image_tag 'plow.jpeg', class:'card-img' %>
  </div>
</div>
</div>

