<h1 class='main-h1'>Services</h1>


<div class='card-container'>
<div class="card">
  <div class="card-header">
    Excavating
  </div>
  <div class="card-body">
    <%= image_tag 'pond3.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Site Prep
  </div>
  <div class="card-body">
    <%= image_tag 'prep1.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Landscaping
  </div>
  <div class="card-body">
    <%= image_tag 'pond3.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Sprinklers
  </div>
  <div class="card-body">
    <%= image_tag 'pond3.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Hydroseed
  </div>
  <div class="card-body">
    <%= image_tag 'hydroseed.jpeg', class:'card-img' %>
  </div>
  </div>
  <div class="card">
  <div class="card-header">
    Snow Removal
  </div>
  <div class="card-body">
    <%= image_tag 'pond3.jpeg', class:'card-img' %>
  </div>
</div>
</div>