<div class="card text-center mb-3" style='background-color: lightgray'>
  <div class="card-body">
    <h1 class="card-title">Services</h1>
  </div>
</div>


<div class='card-container'>
<div class="card">
  <div class="card-header">
    Excavating
  </div>
  <div class="card-body">
    <%= image_tag 'pond3.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Site Prep
  </div>
  <div class="card-body">
    <%= image_tag 'prep1.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Landscape/Hardscape
  </div>
  <div class="card-body">
    <%= image_tag 'hardscape1.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Sprinklers
  </div>
  <div class="card-body">
    <%= image_tag 'sprinkler.jpeg', class:'card-img' %>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Hydroseed
  </div>
  <div class="card-body">
    <%= image_tag 'hydroseed.jpeg', class:'card-img' %>
  </div>
  </div>
  <div class="card">
  <div class="card-header">
    Snow Removal
  </div>
  <div class="card-body">
    <%= image_tag 'plow.jpeg', class:'card-img' %>
  </div>
</div>
</div>